Samples/Uno/XamlFlair.Samples.Uno.Shared/SampleData/SampleUsers/SampleUsers.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SampleUsers" targetNamespace="Blend.SampleData.SampleUsers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleUsers" type="tns:SampleUsers" />
  <xs:complexType name="SampleUsers">
    <xs:sequence>
      <xs:element name="Users" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UsersItem" type="tns:UsersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsersItem">
    <xs:sequence>
      <xs:element name="Places" type="tns:Places" />
    </xs:sequence>
    <xs:attribute blend:Format="Name" name="FullName" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
    <xs:attribute blend:FormatParameters="SampleData\SampleUsers\gradients" name="ProfileBackground" type="tns:Basic-Image" />
    <xs:attribute blend:Format="Address" name="Address" type="xs:string" />
    <xs:attribute blend:Format="Phone Number" name="PhoneNumber" type="xs:string" />
    <xs:attribute blend:Format="Date" name="MemberSince" type="xs:string" />
    <xs:attribute name="IsActive" type="xs:boolean" />
    <xs:attribute blend:Format="Company Name" name="Company" type="xs:string" />
    <xs:attribute blend:FormatParameters="SampleData\SampleUsers\profiles" name="ProfilePic" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:complexType name="Places">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PlacesItem" type="tns:PlacesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlacesItem">
    <xs:attribute blend:FormatParameters="2,12" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="SampleData\SampleUsers\places" name="Image" type="tns:Basic-Image" />
    <xs:attribute blend:Format="Date" name="Visited" type="xs:string" />
    <xs:attribute blend:Format="Address" name="Location" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>